<div class="interval-toggle">
  <button
    mat-button
    type="button"
    [class.interval-toggle__button--active]="value() === Interval.DAILY"
    (click)="onSelect(Interval.DAILY)"
  >
    D
  </button>

  <button
    mat-button
    type="button"
    [class.interval-toggle__button--active]="value() === Interval.WEEKLY"
    (click)="onSelect(Interval.WEEKLY)"
  >
    W
  </button>

  <button
    mat-button
    type="button"
    [class.interval-toggle__button--active]="value() === Interval.MONTHLY"
    (click)="onSelect(Interval.MONTHLY)"
  >
    M
  </button>
</div>
