@use '../../../../styles/variables-global' as *;
@use '../../../../styles/mixins-global' as *;

.chart-view-root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: rem(100);
  padding: rem(16);
}
