@use '../../../../styles/mixins-global' as global;
@use '../../../../styles/variables-global';

:host {
    @include global.flexboxLayout(column, flex-start, center);
    // width: 50%;

    .form-container {
        @include global.flexboxLayout(column, flex-start, flex-start);
        padding: global.rem(20) 0;
        width: 100%;

        .baseline-row {
            @include global.flexboxLayout(row, flex-start, flex-start);
            width: 100%;
            gap: global.rem(16);

            .baseline-field,
            .symbol-autocomplete-field,
            &.name-row .list-name-field {
                flex: 1 1 0;
                max-width: 45%;
            }
        }

        .mat-mdc-form-field {
            // width: 70%;
        }
    }

    .buttons-container {
        margin: global.rem(16) 0;
    }

    .crud-button {
        @include global.rsButtonOne();
        
        &:not(:last-of-type) {
            margin: 0 global.rem(12);
        }

        p {
            margin: 0;
        }

        mat-icon {
            margin: 0;
        }
    }
}