# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Firebase
.firebase
*-debug.log
.runtimeconfig.json
src/secrets/secrets.ts
angular-ssr.json

# Firebase Emulator exports
/firebase-export-*/

# windsurf rules
.windsurfrules

src/secrets/syncfusion-license.ts
# Local env files
.env
.env.*

src/assets/data/~$BATS_MSFT, 1D_0d494.xlsx
src/assets/data/BATS_MSFT, 1D_0d494.xlsx

keys/*
keys/rel-str-partner-caller-prod.json
.vscode/settings.json
docs/planning/rel-str-data-flow-seq-diagram_25-1106.png
emu-export-20251205-101810/firebase-export-metadata.json
emu-export-20251205-101810/auth_export/accounts.json
emu-export-20251205-101810/auth_export/config.json
emu-export-20251205-101810/firestore_export/firestore_export.overall_export_metadata
emu-export-20251205-101810/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
emu-export-20251205-101810/firestore_export/all_namespaces/all_kinds/output-0
emu-export-20251205-101810/firestore_export/all_namespaces/all_kinds/output-1
src/assets/trade-data/*
src/assets/tv/*
