:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 10;
}

.crosshair-sync-line-v,
.crosshair-sync-line-h {
  display: none;
  position: absolute;
  background: #000000;
  pointer-events: none;
  z-index: 10;
}

.crosshair-sync-line-v {
  top: 0;
  bottom: 0;
  width: 1px;
}

.crosshair-sync-line-h {
  left: 0;
  right: 0;
  height: 1px;
}
