@if(rsCalcsStore.relStrTableData()) {

    <div class="table-container">

        <div class="symbols-column">

            <div class="column-cell">Symbol/Date</div>

            @for(symbol of rsCalcsStore.relStrTableData().symbols; track symbol) {

                <div class="column-cell">{{symbol}}</div>

            }

        </div>

        <div class="rows-container">
    
            <div class="row">

                @for(date of rsCalcsStore.relStrTableData().dates; track date) {

                    <div class="cell column-header">{{date}}</div>
    
                }

            </div>
    
            @for(row of rsCalcsStore.relStrTableData().data; track row) {
        
                <div class="row">
                    
                    @for(el of row; track el) {
        
                        <div class="cell"
                             [ngStyle]="{'background-color': el.color}"
                        >
        
                            <p class="text">{{el.value}}</p>
                            <p class="text">{{el.index}}</p>
                            <p class="text">{{el.color}}</p>
        
                        </div>
            
                    }
        
                </div>

            }
        
        </div>

        <div class="row-buttons-container">

            <div class="buttons-column">

                <div class="button-cell"></div>

                @for(symbol of rsCalcsStore.relStrTableData.symbols(); track symbol) {

                    <div class="button-cell" (click)="handleSymbolSelection(symbol, 'chart')">Chart</div>

                }

            </div>

            <div class="buttons-column">

                <div class="button-cell"></div>

                @for(symbol of rsCalcsStore.relStrTableData.symbols(); track symbol) {

                    <div class="button-cell" (click)="handleSymbolSelection(symbol, 'history')">History</div>

                }


            </div>

        </div>
        
    </div>

        <!-- DO NOT DELETE - SHOWS HEATMAP COLOR SWATCHES -->
    <!-- <div class="color-grid-container">

        @for(color of rsCalcsStore.heatmapColors(); track color) {

            <div class="color-cell" [ngStyle]="{'background-color': color}">
                
                <p>{{color}}</p>
                
            </div>
        }

    </div> -->

    <!-- END DO NOT DELETE -->

}
