<div class="select-stock-panel-container">

    <button mat-flat-button class="crud-button create-button" (click)="handleCreateNewList()">Create New List</button>
    
    <div class="header-container">

        <p class="header-text">EXISTING STOCK LISTS</p>
        <!-- <button mat-flat-button class="crud-button" (click)="handleCreateNewList()">Create New List</button> -->

    </div>

    <div class="list-container">

        @for(list of rsAppStore.allStockLists(); track list) {

            <div class="list-item-container">

                <p class="list-item" (click)="handleSelectList(list)">{{list.name}}</p>

                <div class="buttons-container">
                    
                    <button mat-flat-button class="crud-button" (click)="handleEditList(list)">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-flat-button class="crud-button" (click)="handleDeleteList(list.name)">
                        <mat-icon>delete</mat-icon>
                    </button>

                </div>

            </div>

        }

    </div>

    @if(showForm() === true) {

        <p class="form-header">{{(formMode() === 'create' ? 'create new stock list' : 'edit stock list') | uppercase}}</p>

        <div class="form-container" [formGroup]="listForm">

            <mat-form-field>
                <mat-label>List name</mat-label>
                
                <input matInput
                       type="text"
                       class="list-form-control"
                       placeholder="Enter name of list"
                       formControlName="nameControl"
                >

            </mat-form-field>

            <mat-form-field>
                <mat-label>Baseline ticker</mat-label>
                
                <input matInput
                       type="text"
                       class="list-form-control"
                       placeholder="Enter baseline ticker symbol"
                       formControlName="baselineControl"
                >

            </mat-form-field>

            <div class="buttons-container">
                        
                <button mat-flat-button class="crud-button" (click)="handleSaveList()">
                    <p class="button-text">save</p>
                </button>
                
                <button mat-flat-button class="crud-button" (click)="handleCancel()">
                    <p class="button-text">cancel</p>
                </button>

            </div>
            
        </div>

    }


</div>