<section class="candlestick-chart-two">

  <h2>Relative Strength Heatmap</h2>

  <!-- <rs-chart-toolbar
    [zoomFactor]="zoomFactor"
    [zoomPosition]="zoomPosition"
    [useDataSubset]="useDataSubset()"
    (zoomIn)="zoomIn()"
    (zoomOut)="zoomOut()"
    (resetZoom)="resetZoom()"
    (useSubset)="useSubset()"
    (goToStart)="goToStart()"
    (goToEnd)="goToEnd()"
  ></rs-chart-toolbar> -->

  <div class="chart-two-root">

    <div class="chart-two-main-flex-col">

      <div class="chart-two-plot-area" style="position: relative;">

        <rs-pane [paneData]="rsData()"
                 [plotAreaLeft]="plotAreaLeft"
                 [plotAreaWidth]="plotAreaWidth"
                 [primaryXAxis]="primaryXAxis"
                 aria-label="RS Color Pane"
        />

        <rs-sync-chart-one [id]="'chart-dude'"
                           [chartData]="chartData()"
                           [rsData]="rsData()"
                           [baselineData]="baselineData()"
        />

      </div>
      @if (firstVisibleYear() !== null) {

        <div class="x-axis-year-label-row">

          <span class="x-axis-year-label">{{ firstVisibleYear() }}</span>

        </div>

      }

      <div class="rs-comparison-summary">

        RS Comparison: {{ rsComparisonSummary() }}

      </div>

    </div>

  </div>

</section>
