<button mat-flat-button class="crud-button create-button" (click)="handleCreateNewList()">CREATE NEW LIST</button>

<div class="header-container">

    <p class="header-text">EXISTING STOCK LISTS</p>

</div>

<div class="list-container">

    @for(list of rsAppStore.allStockListsV2(); track list.name) {

        <div class="list-item-container">

            <div class="list-name-container"
                 (click)="handleSelectList(list)"
                 [class.active]="list.name === rsAppStore.selectedStockListV2().name"
            >
                
                <p class="list-name-text">
                    {{list.name}}
                </p>

            </div>

            <div class="buttons-container">
                
                <button mat-flat-button class="crud-button" (click)="handleEditList(list)">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-flat-button class="crud-button" (click)="handleDeleteList(list.name)">
                    <mat-icon>delete</mat-icon>
                </button>

            </div>

        </div>

    }

</div>