

<mat-drawer-container [hasBackdrop]="true">

    <mat-drawer #selectStock mode="over" position="end">

        <rs-select-stock-panel />

        <div class="close-button-container">

            <button mat-flat-button class="task-button" (click)="handleCloseSelectStockPanel()">close</button>

        </div>

    </mat-drawer>

    <mat-drawer-content>

            <!-- FOR DEVELOPMENT ONLY -->
        <!-- <rs-select-stock-panel /> -->

        <div class="dashboard-container">

            <div class="buttons-container">

                <button mat-flat-button class="task-button" (click)="handleSelectStock()">Select stock / list</button>
                <button mat-flat-button class="task-button" (click)="handleChangeTimeframe()">Timeframe</button>
                <button mat-flat-button class="task-button" (click)="handleSortFilter()">Sort / filter</button>
        
            </div>
        
            <div class="heatmap-container">
        
                <rs-heatmap />
                
            </div>

        </div>

    </mat-drawer-content>

</mat-drawer-container>



