

<!-- (axisLabelRender)="onAxisLabelRender($event)"
(tooltipRender)="onTooltipRender($event)"
(loaded)="onChartLoaded()"> -->


<ejs-chart #chart
           [id]="id()"
           [primaryXAxis]="chartConfig.primaryXAxis"
           [primaryYAxis]="chartConfig.primaryYAxis"
           [tooltip]="chartConfig.tooltip"
           [zoomSettings]="zoomEnabled() ? chartConfig.zoomSettings : { enableMouseWheelZooming: false, enablePinchZooming: false, enableSelectionZooming: false }"
           [crosshair]="chartConfig.crosshair"
           [legendSettings]="chartConfig.legend"
           (loaded)="onChartLoaded()"
           (scrollEnd)="zoomEnabled() ? onScrollComplete($event) : null"
           (zoomComplete)="zoomEnabled() ? onZoomComplete($event) : null"
>

        <e-axes>
            <e-axis rowIndex=0
                    name='yAxis1'
                    opposedPosition='true'
                    title='RS Rank'
                    [majorGridLines]='false'
                    labelFormat='{value}'
                    [minimum]='0'
                    [maximum]='1'
                    [interval]='1'
                    [lineStyle]='chartConfig.lineStyle'
                    rangePadding='Round'
                >
            </e-axis>
        </e-axes>

    <e-series-collection>

        <e-series
                [dataSource]="chartData()"
                type='Candle'
                xName='x'
                high='high'
                low='low'
                open='open'
                close='close'
                [name]="config().targetSymbol || 'Target'"
                pointColorMapping='rsColor'
        >
        </e-series>
        <e-series
                [dataSource]="baselineData()"
                type='Candle'
                xName='x'
                high='high'
                low='low'
                open='open'
                close='close'
                [name]="config().baselineSymbol || 'Baseline'"
        >
        </e-series>
        <e-series
                [dataSource]="rsData()"
                type='Column'
                xName='date'
                yName='rank'
                [name]="'RS Rank'"
                [visible]="config().showRS ?? true"
                yAxisName='yAxis1'
                pointColorMapping='rsColor'
        >
        </e-series>

    </e-series-collection>

</ejs-chart>