@use '../../../../../../styles/mixins-global' as global;
@use '../../../../../../styles/variables-global';

:host {
    @include global.flexboxLayout(column, flex-start, flex-start);
    width: 100%;

    .header-container {
        @include global.flexboxLayout(row, space-between, center);
        margin: 20px 0;
        width: 100%;
    }

    .list-container {
        @include global.flexboxLayout(column, flex-start, flex-start);
        margin: 0 0 30px;

        .list-item-container {
            @include global.flexboxLayout(row, flex-start, center);
            width: 100%;
            margin: 4px 0;
            
            .list-name-container {
                @include global.flexboxLayout(row, flex-start, center);
                border-radius: 4px;
                flex-grow: 1;
                padding: 8px;

                &:hover {
                    background-color: darkgrey;
                }

                p {
                    margin: 0;
                }

            }
            
            .buttons-container {
                @include global.flexboxLayout(row, flex-end, center);
                margin-left: auto;
            }
        }
    }

    .create-button {
        align-self: flex-end;
    }

    .list-item {
        cursor: pointer;
        margin: 0;
        padding: 0 20px 0 0;
    }

    .active {
        background-color: lightgrey;
    }

    .crud-button {
        @include global.rsButtonOne();
        
        &:not(:last-of-type) {
            margin: 0 12px;
        }

        mat-icon {
            margin: 0;
        }
    }
}