


<!-- (axisLabelRender)="onAxisLabelRender($event)"
(tooltipRender)="onTooltipRender($event)"
(loaded)="onChartLoaded()"> -->


<ejs-chart #chartOne
           id="sync-chart-one"
           [primaryXAxis]="CHART_CONFIG.primaryXAxis"
           [primaryYAxis]="CHART_CONFIG.primaryYAxis"
           [tooltip]='CHART_CONFIG.tooltip'
           [zoomSettings]="CHART_CONFIG.zoomSettings"
           [crosshair]='CHART_CONFIG.crosshair'
           (loaded)="onChartLoaded()"
           (scrollEnd)="onScrollComplete($event)"
           (zoomComplete)="onZoomComplete($event)"
>

        <e-axes>
            <e-axis rowIndex=0
                    name='yAxis1'
                    opposedPosition='true'
                    title='RS Rank'
                    [majorGridLines]='false'
                    labelFormat='{value}'
                    [minimum]='0'
                    [maximum]='1'
                    [interval]='1'
                    [lineStyle]='CHART_CONFIG.lineStyle'
                    rangePadding='Round'
                >
            </e-axis>
        </e-axes>

    <e-series-collection>

        <e-series
                [dataSource]="chartData()"
                type='Candle'
                xName='x'
                high='high'
                low='low'
                open='open'
                close='close'
                name='MSFT'
                pointColorMapping='rsColor'
        >
        </e-series>
        <e-series
                [dataSource]="compareData()"
                type='Candle'
                xName='x'
                high='high'
                low='low'
                open='open'
                close='close'
                name='QQQ'
        >
        </e-series>
        <e-series
                [dataSource]="rsData()"
                type='Column'
                xName='date'
                yName='rank'
                name='RS Rank'
                yAxisName='yAxis1'
                pointColorMapping='rsColor'
        >
        </e-series>

    </e-series-collection>

</ejs-chart>