
<div class="logo-container">

    <button type="button" mat-icon-button class="menu-button" (click)="handleCloseSidenav()" aria-label="Close navigation menu">

        <mat-icon>close</mat-icon>

    </button>

</div>

<div class="sidenav-menu-container">

    <div class="main-menu-container">

        @for (section of sections(); track $index) {

            @if (section.label) {

                <div class="nav-section-label">{{ section.label }}</div>

            }

            @for (item of section.items; track item.name) {

                <button type="button" class="nav-menu-item"
                               (click)="handleNavigation(item)"
                >

                    {{item.text}}

                </button>

            }

        }

    </div>

</div>
