

<div class="rs-pane-container">
    
    <ejs-chart #rankChart id="rank-chart"
        [primaryXAxis]="{ valueType: 'DateTime', crosshairTooltip: { enable: false }, majorGridLines: { width: 0 } }"
        [primaryYAxis]="{ title: 'RS Rank Color' }"
        [zoomSettings]="{ enableSelectionZooming: true, enablePinchZooming: true, mode: 'X' }"
        [crosshair]='crosshair'
        >
      <e-series-collection>
        <e-series
          [dataSource]="paneData() || []"
          type='Column'
          xName='date'
          yName='rank'
          name='MSFT'
          pointColorMapping='rsColor'>
        </e-series>
      </e-series-collection>
    </ejs-chart>

</div>
