
<mat-drawer-container [hasBackdrop]="true">

    <mat-drawer #sidenav mode="over" position="start">

        <rs-sidenav-menu (closeSidenav)="handleCloseSidenav()"
                         (navigate)="handleNavigation($event)"
        />

    </mat-drawer>

    <mat-drawer-content [style.--header-height]="ui.fullscreen() ? '0px' : 'var(--app-header-height)'">

        @if (!ui.fullscreen()) {
          <rs-header (openSidenav)="handleOpenSidenav()" />
        } @else {
          <button mat-icon-button class="header-reveal" (click)="ui.toggleFullscreen()" aria-label="Show header" matTooltip="Show header">
            <mat-icon>fullscreen_exit</mat-icon>
          </button>
        }

        <router-outlet></router-outlet>

    </mat-drawer-content>

</mat-drawer-container>
