
<mat-drawer-container [hasBackdrop]="true">

    <mat-drawer #sidenav mode="over" position="start">

        <rs-sidenav-menu (closeSidenav)="handleCloseSidenav()"
                         (navigate)="handleNavigation($event)"
        />

    </mat-drawer>

    <mat-drawer-content [style.--header-height]="ui.fullscreen() ? '0px' : 'var(--app-header-height)'">

        @if (!ui.fullscreen()) {
          <rs-header (openSidenav)="handleOpenSidenav()" />
        } @else {
          <button class="header-reveal" (click)="ui.toggleFullscreen()" aria-label="Show header" matTooltip="Show header">
            @if (pageInfo(); as info) {
              <mat-icon class="reveal-icon" aria-hidden="true">{{ info.icon }}</mat-icon>
              <span class="reveal-title">{{ info.title }}</span>
            }
            <mat-icon>fullscreen_exit</mat-icon>
          </button>
        }

        <router-outlet></router-outlet>

    </mat-drawer-content>

</mat-drawer-container>
