
<mat-drawer-container [hasBackdrop]="true">

    <mat-drawer #sidenav mode="over" position="start">

        <rs-sidenav-menu (closeSidenav)="handleCloseSidenav()"
                         (navigate)="handleNavigation($event)"
        />

    </mat-drawer>

    <mat-drawer-content [style.--header-height.px]="ui.fullscreen() ? 0 : 64">

        @if (!ui.fullscreen()) {
          <rs-header (openSidenav)="handleOpenSidenav()" />
        }

        <router-outlet></router-outlet>

    </mat-drawer-content>

</mat-drawer-container>
