<button mat-stroked-button [matMenuTriggerFor]="menu" class="rh-select-btn">
  <span class="rh-select-label">{{ label() }}</span>
  <span class="rh-select-value">{{ activeLabel() }}</span>
  <mat-icon>arrow_drop_down</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <ng-template #optionItem let-option>
    <button mat-menu-item [class.selected]="value() === option.value" (click)="valueChange.emit(option.value)" class="rh-dropdown-menu-item" [matTooltip]="option.description ?? ''" [matTooltipDisabled]="!option.description" matTooltipPosition="right">
      <span class="menu-label">{{ option.label }}</span>
      @if (option.badges) {
        @for (badge of option.badges; track badge) {
          <span class="rh-menu-badge">{{ badge }}</span>
        }
      }
    </button>
  </ng-template>

  @for (group of optionGroups(); track group.label) {
    <button mat-menu-item disabled class="rh-menu-group-header">{{ group.label }}</button>
    @for (opt of group.options; track opt.value) {
      <ng-container *ngTemplateOutlet="optionItem; context: { $implicit: opt }"></ng-container>
    }
  }
  @if (optionGroups().length === 0) {
    @for (opt of options(); track opt.value) {
      <ng-container *ngTemplateOutlet="optionItem; context: { $implicit: opt }"></ng-container>
    }
  }
</mat-menu>
